@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "ToyotaDisplayRegular";
  src: url("/font/Toyota Display Regular/Web Fonts/1ac36e54c1c9577fb0468937689adfd9.eot"); /* IE9 Compat Modes */
  src: url("/font/Toyota Display Regular/Web Fonts/1ac36e54c1c9577fb0468937689adfd9.eot?#iefix")
      format("embedded-opentype"),
    url("/font/Toyota Display Regular/Web Fonts/1ac36e54c1c9577fb0468937689adfd9.woff2")
      format("woff2"),
    url("/font/Toyota Display Regular/Web Fonts/1ac36e54c1c9577fb0468937689adfd9.woff")
      format("woff"),
    url("/font/Toyota Display Regular/Web Fonts/1ac36e54c1c9577fb0468937689adfd9.ttf")
      format("truetype"),
    url("/font/Toyota Display Regular/Web Fonts/1ac36e54c1c9577fb0468937689adfd9.svg#ToyotaDisplayRegular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ToyotaDisplayBold";
  src: url("/font/Toyota Display Bold/Web Fonts/46520ab4f9b49d8358ed63f2354664c6.eot"); /* IE9 Compat Modes */
  src: url("/font/Toyota Display Bold/Web Fonts/46520ab4f9b49d8358ed63f2354664c6.eot?#iefix")
      format("embedded-opentype"),
    url("/font/Toyota Display Bold/Web Fonts/46520ab4f9b49d8358ed63f2354664c6.woff2")
      format("woff2"),
    url("/font/Toyota Display Bold/Web Fonts/46520ab4f9b49d8358ed63f2354664c6.woff")
      format("woff"),
    url("/font/Toyota Display Bold/Web Fonts/46520ab4f9b49d8358ed63f2354664c6.ttf")
      format("truetype"),
    url("/font/Toyota Display Bold/Web Fonts/46520ab4f9b49d8358ed63f2354664c6.svg#ToyotaDisplayBold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "ToyotaDisplayRegular", "ToyotaDisplayBold", Arial, Helvetica,
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ToyotaDisplayBold", Arial, Helvetica, sans-serif;
}
